body {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 1.5em;
    padding: 0;
    color: #4a4a4a;
    background-color: #FfE;
    text-align: justify;
}

a {
    color: #0039A6;
    text-decoration: none;
}

a:hover {
    color: #69BE28;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: 0.3;
}

#chart {
    border: 1px solid #aaa;
    width: 800px;
    height: 800px;
    background-color: #Fff;
}

.explanation {
    width: 600px;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
