{% extends "dashboard_base.html" %}
{% block sidebar %}
          <ul class="nav nav-sidebar">
            <li><a href="rspi_status.html">Status</a></li>
            <li><a href="rspi_recursos_origen.html">Origen de Recursos</a></li>
            <li><a href="rspi_recursos_destino.html">Destino de Recursos</a></li>
            <li><a href="rspi_colaboradores.html">Colaboradores Externos</a></li>
            <li><a href="rspi_usuarios_puesto.html">Usuarios por puesto</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="rspi_coautores.html">Coautores Recurrentes</a></li>
            <li><a href="rspi_mesh.html">MeSH Terms INMEGEN</a></li>
            <li><a href="rspi_investigadores.html">Investigadores por
            tipo de puesto y nivel SNI</a></li>
            <li><a href="rspi_proyectos_costos_sunburst.html">Proyectos</a></li>
            <li><a href="grafica/GRAFICA.html">Multidimensional</a></li>
          </ul>
{% endblock %}

{% block main %}
{{ html }}
{% endblock %}
