{% extends "dashboard_base.html" %}
{% block sidebar %}
          <ul class="nav nav-sidebar">
            <li><a href="#">Status</a></li>
            <li><a href="#">Origen de Recursos</a></li>
            <li><a href="#">Destino de Recursos</a></li>
            <li><a href="#">Colaboradores Externos</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Coautores Recurrentes</a></li>
            <li><a href="">Investigadores por SNI</a></li>
            <li><a href="">Investigadores por tipo de puesto</a></li>
            <li><a href="">Multidimensional</a></li>
          </ul>
{% endblock %}

{% block main %}
{{ html }}
{% endblock %}
